<div class="container">
  <div class="perguntas">
    <label for="name">Qual o seu nome? </label>
    <input type="text" [(ngModel)]="name" />

    <label for="idade">Quantos anos você tem? </label>
    <input type="text" [(ngModel)]="idade" />

    <label for="linguagem"
      >Qual linguagem de programação você está estudando?
    </label>
    <input type="text" [(ngModel)]="linguagem" />

    <button class="btn" (click)="enviar()">Enviar</button>
  </div>

  <div class="frase1" *ngIf="frase1">
    <h2>
      Olá {{ name }}, você tem {{ idade }} anos e já está aprendendo
      {{ linguagem }}
    </h2>
  </div>
  <div class="frase2" *ngIf="frase1">
    <label for="like"
      >Você gosta de estudar {{ linguagem }}? Responda com o número 1 para SIM
      ou 2 para NÃO.</label
    >
    <input type="text" [(ngModel)]="like" />
    <button class="btn" (click)="enviar2()">Enviar</button>
  </div>
  <div class="frase3" *ngIf="frase2">
    <h2>{{ resposta }}</h2>
  </div>
</div>
